<% if @tweet.errors.present? %>
    <p>エラーがあります。</p>
    <ul>
        <% @tweet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    </ul>
<% end %>
<% if current_user %>
    <%= current_user.uid %>でログイン中
<% end %>
<%= form_for @tweet, url: {action: :create} do |f| %>
    <p><%= f.label :message, '新規Tweet' %></p>
    文章を入力してください。(140文字以内)<br>
    <%= f.text_field :message %>
    <%= f.submit 'つぶやく' %>
<% end %>