<p>
  <% if flash[:notice] %>
    <%= flash[:notice] %>
  <% end %>
</p>
    
<h1>課題05</h1>
<% if session[:login_uid] %>
  <h class="login_user"><%= @login_user %>でログイン中です。</h>
<% end %>

<p><% @tweets.each do |e| %></p>
    <hr width="100%">
    <p><h class="username">ユーザ</h></p>
    <p class ="message"><%= e["message"] %></p>
    <%= link_to '削除', "/tweets/#{e.id}", method: :delete %>
    <%= link_to 'いいね', likes_path(tweet_id: e.id), method: :post %>
    <%= link_to 'いいね削除', like_path(e), method: :delete %>
<% end %>
<hr width="100%">
<p><%= link_to 'ログイン', '/top/main'  %></p>
<p><%= link_to 'ユーザ登録', '/users/new'  %></p>
<p><%= link_to 'ユーザ一覧', '/users/list' %></p>
<p>
  <% if session[:login_uid] %>
    <%= link_to '新規Tweet', '/tweets/new' %>
  <% else %>
    新規Tweetするにはログインしてください。
<% end %></p>