<%= form_for @user, url: {action: :create} do |f| %>
    <p><%= f.label :uid %></p>
    <%= f.text_field :uid %><br>
    <%= f.label :pass %>
    <%= f.text_field :pass %><br>
    <%= f.submit '作成' %>
<% end %>