<%= form_for @user, url: {action: :create} do |f| %>
    <p><%= f.label :uid, '新規ユーザアカウント作成' %></p>
    ID<br>
    <%= f.text_field :uid %><br>
    パスワード<br>
    <%= f.text_field :pass %><br>
    <%= f.submit '作成' %>
<% end %>